.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_sidebar {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
}

.menu_toggle {
    display: none;
}

.out_of_menu {
    display: none;
}

.dashboard_content {
    display: flex;
}

.players_content {
    display: none;
}

.training_content {
    display: none;
}

@media (orientation:portrait), (max-width: 300px) {

    .menu_toggle {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 1001;
        font-size: 28px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .left_sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: clamp(280px, 50vw, 400px);
        height: 100vh;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .left_sidebar.active {
        transform: translateX(0);
    }

    .out_of_menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;
        background: none;
        border: none;
        cursor: pointer;
    }
}